

<h1>
  <%= @rating.id ? 'Edit' : 'Add' %>
</h1>
<%= form_for @rating do |r| %>
  <%= r.label :title %>
  <%= r.text_field :title %>
  <br />
  <%= r.label :place %>
  <%= r.text_field :place %>
  <br />
  <%= r.label :website %>
  <%= r.text_area :website %>
  <br />
  <%= r.label :rate %>
  <%= r.text_area :rate %>
  <br />
  <%= r.label :service %>
  <%= r.text_area :service %>
  <br />
  <%= r.submit %>
<% end %>
